*{
    margin: 10px;
}
body{
    background-color: #1C1C1C;
    width: 95%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.sherlock{
    background-color: #4B5335;
    border-radius: 20px;
    height: auto;
    margin-left: 10px;
    padding: 10px;
}
h1{
    font-size: 33px;
    color: #D2B48C;
}
.nome{
    font-size: 15px;
    color: #A9A9A9;
    padding: 15px;
    margin-left: -5px;
}
.criador{
    background-color: #5A4034;
    margin-top: 15px;
    padding: 5px;
    height: auto;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 16px;
}
h2{
    font-size: 26px;
}
p{
    line-height: 25px;
    font-family: georgia, serif;
}
.curiosidades{
   height: auto;
   background-color: #5A4034;
   border-radius: 20px;
   padding: 10px;
   margin-left: 10px;
   font-size: 17px;
   font-family: georgia, serif;
}
.livros{
    background-color: #5A4034;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 17px;
    font-family: georgia, serif;
    height: auto;
}
footer{
    color: #A9A9A9;
    font-size: 13px;
    margin-top: 15px;
}